<div class="window">

  <div class="left" style="margin-bottom: 50px; margin-top: 30px; margin-left: 7%;">
    <input-text style="width: 40%;" [(mxModel)]="perfil.dsPerfil" [properties]="inputDsPerfil"></input-text>
    <input-text [(mxModel)]="perfil.linha.dsLinha" [properties]="inputDsLinha"
      [itensDisponiveis]="this.linhasDisponiveis"
      (itemSelecionado)="linhaSelecionada($event, this.perfil)"></input-text>
    <button-default [properties]="buttonConsultar" (click)="onClickConsultar()"></button-default>
    <button-default [properties]="buttonCadastrar" (click)="onClickCadastrar()" hint="Adicionar Perfil"></button-default>
  </div>

  <div class="center">
    <table style="width: 85%;" class="custom-table">
      <thead>
        <tr>
          <th class="padding" style="text-align: left;"><span>Descrição Perfil</span></th>
          <th style="text-align: left; width: 25%;"><span>Linha</span></th>
          <th style="width:30px;"></th>
          <th style="width:30px;"></th>
          <th style="width:30px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of gridPerfil; let i = index">
          <td class="padding">
            <input-text [isGrid]="true" [(mxModel)]="x.dsPerfil" [properties]="x.properties"></input-text>
          </td>
          <td>
            <input-text [isGrid]="true" [(mxModel)]="x.linha.dsLinha" [properties]="x.properties" [itensDisponiveis]="this.linhasDisponiveis" (itemSelecionado)="linhaSelecionada($event, x)"></input-text>
          </td>
          <td>
            <button-icon nomeIcone="addImagem" [visivel]="x.visibilidadeBotoes.get(tipoBotao.IMAGEM)"
              hint="Adicionar Imagem"></button-icon>
          </td>
          <td>
            <button-icon (click)="onClickExcluir(x, i)" nomeIcone="excluir" [visivel]="x.visibilidadeBotoes.get(tipoBotao.EXCLUIR)" hint="Excluir"></button-icon>
            <button-icon (click)="onClickCancelar(x)" nomeIcone="cancelar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.CANCELAR)" hint="Cancelar alteração"></button-icon>
          </td>
          <td>
            <button-icon (click)="onClickEditar(x)" nomeIcone="editar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.EDITAR)" hint="Editar"></button-icon>
            <button-icon nomeIcone="confirmar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.CONFIRMAR)" hint="Confirmar alteração"></button-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
