<div class="window">
  <div class="left" style="margin-bottom: 50px; margin-top: 30px; margin-left: 7%;">
    <input-text style="width: 60%;" [(mxModel)]="esquadria.dsEsquadria" [properties]="inputDsEsquadria"></input-text>
    <input-text [(mxModel)]="esquadria.linha.dsLinha" [properties]="inputDsLinha"
      [itensDisponiveis]="this.linhasDisponiveis"
      (itemSelecionado)="linhaSelecionada($event, this.esquadria)"></input-text>
    <button-default [properties]="buttonConsultarEsquadria" (click)="onClickConsultarEsquadria()"></button-default>
    <button-default [properties]="buttonCadastrarEsquadria" (click)="onClickCadastrarEsquadria()" hint="Adicionar Esquadria"></button-default>
  </div>

  <div class="center">
    <table style="width: 85%;" class="custom-table">
      <thead>
        <tr>
          <th class="padding" style="text-align: left;"><span>Descrição Esquadria</span></th>
          <th style="text-align: left; width: 25%;"><span>Linha</span></th>
          <th style="width:30px;"></th>
          <th style="width:30px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of gridEsquadria; let i = index" class="click-row" (click)="openModalPerfilEsquadria(templatePerfilEsquadria, x)" >
          <td class="padding">
            <input-text [isGrid]="true" [(mxModel)]="x.dsEsquadria" [properties]="x.properties"></input-text>
          </td>
          <td>
            <input-text [itensDisponiveis]="this.linhasDisponiveis" (itemSelecionado)="linhaSelecionada($event, x)" [isGrid]="true" [(mxModel)]="x.linha.dsLinha" [properties]="x.properties" ></input-text>
          </td>
          <td>
            <button-icon (onClick)="onClickExcluir(x, i)" nomeIcone="excluir" [visivel]="x.visibilidadeBotoes.get(tipoBotao.EXCLUIR)" hint="Excluir"></button-icon>
            <button-icon (onClick)="onClickCancelar(x)" nomeIcone="cancelar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.CANCELAR)" hint="Cancelar alteração"></button-icon>
          </td>
          <td>
            <button-icon (onClick)="onClickEditar(x)" nomeIcone="editar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.EDITAR)" hint="Editar"></button-icon>
            <button-icon (onClick)="onClickConfirmar(x)" nomeIcone="confirmar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.CONFIRMAR)" hint="Confirmar alteração"></button-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- modal PERFILESQUADRIA -->
<ng-template class="modal-body" #templatePerfilEsquadria>
  <div class="window">
    <div class="left" style="margin-top: 12px; margin-left: 12px; display: inline-flex;" (click)="modalRef?.hide()">
      <button-icon nomeIcone="voltar" [visivel]="true" hint="Voltar" (onClick)="modalRef?.hide()" ></button-icon>
      <label style="cursor: pointer;">TESTE</label>
      <!-- por degrade -->
    </div>
    <hr style="margin-top: -5px;">

    <div style="margin-left: 2%; margin-bottom: 1%;" class="left" >
      <input-text style="width: 44%;" [(mxModel)]="perfilEsquadria.perfil.dsPerfil" [properties]="inputDsPerfil"
      [itensDisponiveis]="this.perfilDisponiveis"
      (itemSelecionado)="perfilSelecionado($event, this.perfilEsquadria)"></input-text>
      <input-text style="width: 40%;" [(mxModel)]="perfilEsquadria.dsDesconto" [properties]="inputDsDesconto"></input-text>
      <input-number style="width: 10%;"[(mxModel)]="perfilEsquadria.qtPerfil" [properties]="inputQtdePerfil"></input-number>
      <button-default [properties]="buttonCadastrarPerfilEsquadria" (click)="onClickCadastrarPerfilEsquadria()" hint="Vincular Perfil"></button-default>
    </div>

    <div class="center">
      <table style="width: 95%;" class="custom-table">
        <thead>
          <tr>
            <th class="padding" style="text-align: left;"><span>Descrição Perfil</span></th>
            <th style="text-align: left; width: 25%;"><span>Desconto</span></th>
            <th style="text-align: left; width: 10%;"><span>QTDE</span></th>
            <th style="width:30px;"></th>
            <th style="width:30px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of gridPerfilEsquadria; let i = index"  >
            <td class="padding">
              <input-text [isGrid]="true" [(mxModel)]="x.perfil.dsPerfil" [properties]="x.properties" [itensDisponiveis]="this.perfilDisponiveis" (itemSelecionado)="perfilSelecionado($event, x)"></input-text>
            </td>
            <td>
              <input-text [isGrid]="true" [(mxModel)]="x.dsDesconto" [properties]="x.properties" ></input-text>
            </td>
            <td>
              <input-number [isGrid]="true" [(mxModel)]="x.qtPerfil" [properties]="x.properties" ></input-number>
            </td>
            <td>
              <button-icon (onClick)="onClickExcluirPerfilEsquadria(x, i)" nomeIcone="excluir" [visivel]="x.visibilidadeBotoes.get(tipoBotao.EXCLUIR)" hint="Excluir"></button-icon>
              <button-icon (onClick)="onClickCancelarCancelarPerfilEsquadria(x)" nomeIcone="cancelar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.CANCELAR)" hint="Cancelar alteração"></button-icon>
            </td>
            <td>
              <button-icon (onClick)="onClickEditarPerfilEsquadria(x)" nomeIcone="editar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.EDITAR)" hint="Editar"></button-icon>
              <button-icon (onClick)="onClickConfirmarPerfilEsquadria(x)" nomeIcone="confirmar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.CONFIRMAR)" hint="Confirmar alteração"></button-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</ng-template>
