.imagem {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 5%;
  width: 20px;
  height: 20px;
}
