.imagem {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 5%;
  min-width: 20px;
  min-height: 20px;
  margin-left: 5px;
}
