<label *ngIf="!isGrid">{{properties?.label}}</label>
<div [ngClass]="{'input-container': !isGrid}">
  <input
  [disabled]="!properties?.ativo"
  (input)="onInput()"
  [placeholder]="properties?.placeholder"
  [(ngModel)]="mxModel"
  [ngStyle]="{ 'background-color': properties?.ativo && isGrid ? '#fff' : '' }"
  (keydown)="onKeyDown($event)"/>
  <div class="item-list" *ngIf="itensSimilares.length > 0">
    <div [ngClass]="{'item': itensSimilares}" *ngFor="let item of itensSimilares; let i = index"
      [class.selected]="i === selectedItemIndex" (click)="selecionarItem(item)">{{item}}</div>
  </div>
</div>
