<div [ngClass]="{'main' : !isGrid, 'flex-container': !isGrid}">
  <label *ngIf="!isGrid">{{properties?.label}}</label>
  <div [ngClass]="{'input-container-shadow': !isGrid}" class="input-container">
    <input
    [disabled]="!properties?.ativo"
    (input)="onInput()"
    [placeholder]="properties?.placeholder"
    [(ngModel)]="mxModel"
    [ngStyle]="{ 'background-color': properties?.ativo && isGrid ? '#fff' : '', 'text-align': align }"
    (keydown)="onKeyDown($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"/>
    <div id="sujestion" class="item-list" *ngIf="exibeSugestao && itensExibicao.length > 0">
      <div class="item" *ngFor="let item of itensExibicao; let i = index"
           [ngClass]="{ 'selected': i === selectedItemIndex }"
           (click)="selecionarItem(item)">
        {{ item.descricao }}
      </div>
    </div>
  </div>
</div>
