<div class="window">
  <div class="left" style="margin-bottom: 50px; margin-top: 30px; margin-left: 7%;">
    <input-text style="width: 70%;" [(mxModel)]="obra.dsObra" [properties]="inputDsObra"></input-text>
    <input-date style="width: 17%;" [(mxModel)]="obra.dtLancamento" [properties]="inputDtLancamento"></input-date>
    <button-default [properties]="buttonConsultarObra" (click)="onClickConsultarObra()"></button-default>
    <button-default [properties]="buttonCadastrarObra" (click)="onClickCadastrarObra()" hint="Adicionar Obra"></button-default>
  </div>
</div>
