<div class="window">
  <div class="left" style="margin-bottom: 50px; margin-top: 30px; margin-left: 10%;">
    <input-text style="width: 60%;" [properties]="inputDescricao" [(mxModel)]="linha.dsLinha"></input-text>
    <button-default [properties]="buttonConsultar" (click)="onClickConsultar()"></button-default>
    <button-default hint="Adicionar Linha" [properties]="buttonCadastrar" (click)="onClickSalvar()"></button-default>
  </div>

  <div class="center">
    <table style="width: 80%;" class="custom-table">
      <thead>
        <tr>
          <th class="padding" style="text-align: left;"><span>Descrição Linha</span></th>
          <th style="width:30px; "></th>
          <th style="width:30px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of gridLinhas; let i = index">
          <td class="padding">
            <input-text [isGrid]="true" [properties]="x.properties" [(mxModel)]="x.dsLinha"></input-text>
          </td>
          <td>
            <button-icon (onClick)="onClickExcluir(x, i)"  nomeIcone="excluir"  [visivel]="x.visibilidadeBotoes.get(tipoBotao.EXCLUIR)" hint="Excluir"></button-icon>
            <button-icon (onClick)="onClickCancelar(x)" nomeIcone="cancelar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.CANCELAR)" hint="Cancelar alteração"></button-icon>
          </td>
          <td>
            <button-icon (onClick)="onClickEditar(x)"    nomeIcone="editar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.EDITAR)" hint="Editar"></button-icon>
            <button-icon (onClick)="onClickConfirmar(x)" nomeIcone="confirmar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.CONFIRMAR)" hint="Confirmar alteração"></button-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
