<div class="window">
  <div style="margin: 10px;">

    <input-text [properties]="inputDescricao"  (consultaItemSimilar)="buscarItensSimilares()" [(mxModel)]="linha.dsLinha"
    [itensSimilares]="vetItem"></input-text>


    <button-default [properties]="buttonCadastrar" (onClick)="onClickSalvar()"></button-default>
    <br>
    <button-default [properties]="buttonConsultar" (onClick)="carregarLinhas()"></button-default>
  </div>

  <br><br>

<!-- -----------------------------------------  -->
<table class="custom-table">
  <thead>
    <tr>
      <th style="text-align: left; min-width:450px;"><span>Descrição</span></th>
      <th style="min-width:30px;"></th>
      <th style="min-width:30px;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of gridLinhas; let i = index">
       <td style="min-width: 450px;">
        <input-text [isGrid]="true" [properties]="x.properties" [(mxModel)]="x.dsLinha"></input-text>
      </td>
      <td>
        <button-icon (click)="onClickExcluir(x)"  nomeIcone="excluir"  [visivel]="x.visibilidadeBotoes.get(tipoBotao.EXCLUIR)"></button-icon>
        <button-icon (click)="onClickCancelar(x)" nomeIcone="cancelar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.CANCELAR)"></button-icon>
      </td>
      <td>
        <button-icon (click)="onClickEditar(x)"    nomeIcone="editar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.EXCLUIR)"></button-icon>
        <button-icon (click)="onClickConfirmar(x)" nomeIcone="confirmar" [visivel]="x.visibilidadeBotoes.get(tipoBotao.CONFIRMAR)"></button-icon>
      </td>
    </tr>
  </tbody>
</table>
<!-- -----------------------------------------  -->
<button (click)="showMessage()"></button>
</div>
