.menu {
  position: fixed; /* Define o menu como posição fixa */
  top: 0; /* Define o posicionamento do topo */
  left: 0; /* Define o posicionamento da lateral esquerda */
  width: 15%; /* Define a largura do menu */
  height: 100%; /* Define a altura do menu para ocupar toda a altura disponível */
  background-color: #f0f0f0; /* Defina a cor de fundo do menu */
  align-items: end;
  background: linear-gradient(to right, #B3E4FF 62%, rgba(179, 228, 255, 0.35) 100%);
}

.imagem{
  width: 100%;
  cursor: pointer;
}
