<div class="window">
  <input-text [properties]="inputDescricao"  (consultaItemSimilar)="buscarItensSimilares()" [(mxModel)]="linha.dsLinha"
     [itensSimilares]="vetItem"></input-text>


  <button-default [properties]="buttonCadastrar" (onClick)="onClickSalvar()"></button-default>
  <br>
  <button-default [properties]="buttonConsultar" (onClick)="carregarLinhas()"></button-default>

  <br><br>

<!-- -----------------------------------------  -->
<table class="custom-table">
  <thead>
    <tr>
      <th style="text-align: left; min-width:450px;"><span>Descrição</span></th>
      <th style="min-width:45px;">

      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of gridLinhas; let i = index">
       <td style="min-width: 450px;">
        <input-text [isGrid]="true" [properties]="gridInputDescricao" [(mxModel)]="gridLinhas[i].dsLinha"></input-text>
      </td>
      <td style="text-align: center;" >
        <app-button-cancelar></app-button-cancelar>
      </td>

    </tr>
  </tbody>
</table>
<!-- -----------------------------------------  -->

</div>
