@import '~ngx-toastr/toastr.css';
@import "~bootstrap/scss/bootstrap";

.window,
input::placeholder,
button,
span {
  font-family: 'Raleway', monospace;
  line-height:20px;
  letter-spacing:-0.6px;
  cursor: pointer;
}

input,
label,
th,
button{
  min-height: 27px;
  font-size: 19px;
  //box-shadow: 1.5px 5px 5px rgba(82, 82, 82, 0.377);
}

button:focus,
button:hover,
input:focus,
input:hover {
  outline: 2px solid #7ab6f7;
  transition: outline 0.05s;
}


input::placeholder{
  color:rgba(0, 0, 0, 0.200);
  font-size: 17px;
}
.toast-container {
  font-family:'Raleway', monospace;
  // background-color: rgba(0, 123, 255, 0.9);
  color: white;
}
.toast-container .ngx-toastr {
  border-radius: 15px;
}

body {
  background-image: url("/assets/images/logotipo-medial.png") ;
  background-repeat: no-repeat ;
  background-position:  55% 0% ;
  background-size: 50% ;
  padding-right: calc(100vw - 100%) !important;
  overflow-y: scroll !important;
  background-attachment: fixed ;
  margin: 10px;
}

//tamanho da modal de alerta
.modal-sm {
  max-width: 450px;
}
.modal-content{
  border-radius: 0.8rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  display: flex;
  justify-content: left;
  align-items: start;
}
.right {
  display: flex;
  justify-content: right;
  align-items: end;
}





.custom-table {
  border-collapse: collapse;
  empty-cells: show ;
  height: 100% ;
  table-layout: fixed ;
  margin-bottom: 100px;
}

.custom-table tbody tr {
  // background-color: #b3e4ff57;
  background-color: rgb(127, 178, 204, 0.33);
  border: 1px solid #ffffff;
}
.custom-table thead tr {
  background-color: #312B97;
  border: 1px solid #ffffff;
  color: white;
}




.custom-table {
  padding: 10px ;
  border-collapse: collapse ;
  border-radius: 10px ;
  overflow: hidden ;
}

.custom-table td input {
  border: none ;
  background-color: #b3e4ff00 ;
  outline: 0px ;

}

.padding{
  padding-left  : 10px ;
}

.custom-table thead{
  height: 29px !important;
  cursor: default ;
}

tbody tr:hover,
tbody tr:focus-within {
  background-color: #8ad4ff70 !important;/* ou outra cor desejada */
}
