@import '~ngx-toastr/toastr.css';
@import "~bootstrap/scss/bootstrap";

.window,
input::placeholder,
button,
span {
  font-family: 'Raleway', monospace;
  line-height:20px;
  letter-spacing:-0.6px;
  cursor: pointer;
}

input,
label,
th,
button{
  min-height: 27px;
  font-size: 19px;
  //box-shadow: 1.5px 5px 5px rgba(82, 82, 82, 0.377);
}

button:focus,
button:hover,
input:focus,
input:hover {
  outline: 2px solid #7ab6f7;
  transition: outline 0.05s;
}


input::placeholder{
  color:rgba(0, 0, 0, 0.200);
  font-size: 17px;
}
.toast-container {
  font-family:'Raleway', monospace;
  // background-color: rgba(0, 123, 255, 0.9);
  color: white;
}
.toast-container .ngx-toastr {
  border-radius: 15px;
}

body {
  background-image: url("/assets/images/logotipo-medial.png") ;
  background-repeat: no-repeat ;
  background-position:  55% 0% ;
  background-size: 50% ;
  padding-right: calc(100vw - 100%) !important;
  overflow-y: scroll !important;
  background-attachment: fixed ;
  margin: 10px;
}

//tamanho da modal de alerta
.modal-sm {
  max-width: 450px;
}
.modal-content{
  border-radius: 0.8rem;
}

.custom-table {
  border-collapse: collapse !important;
  empty-cells: show !important;
  height: 100% !important;
  table-layout: fixed !important;
}

.custom-table tbody tr {
  background-color: #b3e4ff57;
  border: 1px solid #ffffff;
}
.custom-table thead tr {
  background-color: #8AD5FF;
  border: 1px solid #ffffff;
}




.custom-table {
  padding: 10px !important;
  border-collapse: collapse !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}

.custom-table td input {
  border: none !important;
  background-color: #b3e4ff00 !important;
  outline: 0px !important;
}

.custom-table span,
.custom-table td {
  padding-left  : 10px !important;
}


.custom-table thead{
  height: 29px !important;
  cursor: default !important;
}


