<div class="menu">
  <img (click)="onClick('')" style="margin-bottom: 15px;" routerLink="/" class="imagem" src="/assets/images/menu_icon/logo-medial.png">
  <button-menu [routerLink]="botoes.get('botaoLinha').routerLink"
               [properties]="botoes.get('botaoLinha')"
               (click)="onClick('botaoLinha')">
  </button-menu>
  <button-menu [routerLink]="botoes.get('botaoPerfil').routerLink"
              [properties]="botoes.get('botaoPerfil')"
               (click)="onClick('botaoPerfil')">
  </button-menu>
  <button-menu [routerLink]="botoes.get('botaoEsquadria').routerLink"
              [properties]="botoes.get('botaoEsquadria')"
              (click)="onClick('botaoEsquadria')">
  </button-menu>

  <button-menu [properties]="botoes.get('botaoObra')"
               (click)="onClick('botaoObra')">
  </button-menu>
  <div style="padding-left: 15px;" >
    <button-menu [routerLink]="botoes.get('botaoObraCadastro').routerLink"
                [properties]="botoes.get('botaoObraCadastro')"
                [notHr]="true"
                *ngIf="botoes.get('botaoObra').selecionado"
                (click)="onClick('botaoObraCadastro')">
    </button-menu>
    <button-menu [routerLink]="botoes.get('botaoObraConsulta').routerLink"
                [properties]="botoes.get('botaoObraConsulta')"
                [notHr]="true"
                *ngIf="botoes.get('botaoObra').selecionado"
                (click)="onClick('botaoObraConsulta')">
    </button-menu>
  </div>
  <button-menu [routerLink]="botoes.get('botaoCorte').routerLink"
              [properties]="botoes.get('botaoCorte')"
              (click)="onClick('botaoCorte')">
  </button-menu>
</div>
