.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #f0f0f0;
  align-items: end;
  background: linear-gradient(to right, rgb(49, 43, 151, 0.4) -80%, rgba(179, 228, 255, 0.35) 100%);
}

.imagem{
  width: 100%;
  cursor: pointer;
}
